In [1]:
# K Means

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('data.csv')

In [5]:
data

     SepalLengthCm  PetalLengthCm
0              5.1            1.4
1              4.9            1.4
2              4.7            1.3
3              4.6            1.5
4              5.0            1.4
..             ...            ...
145            6.7            5.2
146            6.3            5.0
147            6.5            5.2
148            6.2            5.4
149            5.9            5.1

[150 rows x 2 columns]

In [6]:
from sklearn.cluster import KMeans

In [8]:
model=KMeans(n_clusters=3)

In [9]:
model.fit(data)

KMeans(n_clusters=3)

In [10]:
model.predict(data)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [11]:
data['cluster']=model.predict(data)

In [12]:
data

     SepalLengthCm  PetalLengthCm  cluster
0              5.1            1.4        1
1              4.9            1.4        1
2              4.7            1.3        1
3              4.6            1.5        1
4              5.0            1.4        1
..             ...            ...      ...
145            6.7            5.2        2
146            6.3            5.0        0
147            6.5            5.2        2
148            6.2            5.4        2
149            5.9            5.1        0

[150 rows x 3 columns]

In [17]:
import matplotlib as plt

In [19]:
plt.scatter(data['SepalLengthCm'],data['PetalLengthCm'])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'scatter'

In [20]:
plt.scatter(data['SepalLengthCm'],data['PetalLengthCm'],c=data['cluster'])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'scatter'